
/* ----------------------------- Default CSS ----------------------------- */
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* ----------------------------- Varibles CSS ----------------------------- */
:root {
  --primary-color-1: #1A73E8;
  --primary-color-2: #0A1A2F;
  --secondary-color-1: #A3A9B3;
  --secondary-color-2: #F2F4F7;
  --accent-color-1: #FF6B35;
  --accent-color-2: #8DFF45;
}

/* ----------------------------- Default CSS for headings ----------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "Science Gothic", sans-serif;
}

/* ----------------------------- Default CSS for links/buttons ----------------------------- */
a, button {
  transition: transform 0.3s ease;
}

a:hover, button:hover {
  transform: scale(1.04); /* 4% larger */
}

/* ----------------------------- Default CSS for links/buttons ----------------------------- */