
/* ----------------------------- Default CSS ----------------------------- */
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* ----------------------------- Varibles CSS ----------------------------- */
:root {
  --primary-color-1: #1A73E8;
  --primary-color-2: #0A1A2F;
  --secondary-color-1: #A3A9B3;
  --secondary-color-2: #F2F4F7;
  --accent-color-1: #FF6B35;
  --accent-color-2: #8DFF45;
}

/* ----------------------------- Default CSS for headings ----------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "Science Gothic", sans-serif;
}

/* ----------------------------- Default CSS for links/buttons ----------------------------- */
a, button {
  transition: transform 0.3s ease;
}

a:hover, button:hover {
  transform: scale(1.04); /* 4% larger */
}

/* ----------------------------- Hero ----------------------------- */

.hero {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
  overflow: hidden;
  max-height: 300px;
  min-height: 20rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the content */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    color: var(--accent-color-1);
    padding: 1rem 2rem;
    border-radius: 8px;

    a {
      margin-top: 0.5rem;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: var(--primary-color-2);
      color: var(--accent-color-1);
      background-image: linear-gradient(transparent, var(--secondary-color-1));
      cursor: pointer;
      display: inline-block;
      text-decoration: none;

      &:hover {
        background-color: var(--primary-color-2);
        background-image: none;
      }
    }
  }
}

/* ----------------------------- page-section ----------------------------- */

.page-section {
  margin: 0.5rem;
  border: 2px solid var(--primary-color-2);
  box-shadow: 0 0 1rem var(--primary-color-2);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--secondary-color-2);

  h2 {
    background-color: var(--primary-color-2);
    padding: 0.5rem;
    color: var(--secondary-color-2);
  }

  p {
    padding: 0.5rem;
  }
}

/* Dictionary term styling */
.dictionary-term {
  cursor: help;
  color: var(--primary-color-2);
  border-bottom: 2px solid var(--accent-color-1);
  padding: 0 1px;
}