
/* ----------------------------- Default CSS ----------------------------- */
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* ----------------------------- Varibles CSS ----------------------------- */
:root {
  --primary-color-1: #1A73E8;
  --primary-color-2: #0A1A2F;
  --secondary-color-1: #A3A9B3;
  --secondary-color-2: #F2F4F7;
  --accent-color-1: #FF6B35;
  --accent-color-2: #8DFF45;
}

/* ----------------------------- Default CSS for headings ----------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "Science Gothic", sans-serif;
}

/* ----------------------------- Default CSS for links/buttons ----------------------------- */
a, button {
  transition: transform 0.3s ease;
}

a:hover, button:hover {
  transform: scale(1.04); /* 4% larger */
}

/* ----------------------------- Hero ----------------------------- */

.hero {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
  overflow: hidden;
  max-height: 300px;
  min-height: 20rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* center the content */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    color: var(--accent-color-1);
    padding: 1rem 2rem;
    border-radius: 8px;

    a {
      margin-top: 0.5rem;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: var(--primary-color-2);
      color: var(--accent-color-1);
      background-image: linear-gradient(transparent, var(--secondary-color-1));
      cursor: pointer;
      display: inline-block;
      text-decoration: none;

      &:hover {
        background-color: var(--primary-color-2);
        background-image: none;
      }
    }
  }
}

/* ----------------------------- page-section ----------------------------- */

.page-section {
  margin: 0.5rem;
  border: 2px solid var(--primary-color-2);
  box-shadow: 0 0 1rem var(--primary-color-2);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--secondary-color-2);

  h2 {
    background-color: var(--primary-color-2);
    padding: 0.5rem;
    color: var(--secondary-color-2);
  }

  p {
    padding: 0.5rem;
  }
}

/* ----------------------------- Dictionary term styling ----------------------------- */
.dictionary-term {
  cursor: help;
  color: var(--primary-color-2);
  border-bottom: 2px solid var(--accent-color-1);
  padding: 0 1px;
}

/* ----------------------------- Cards ----------------------------- */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, auto));;
  gap: 1rem;
  margin: 1rem;
  justify-content: space-evenly;
  .card {
    border: 3px solid var(--primary-color-2);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem var(--primary-color-2);
    padding: 0.5rem;
    max-width: 300px;
    img {
      display: block;
      border: 3px solid var(--primary-color-2);
      border-radius: 1rem;
      width: 100%;
      cursor: pointer;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.04); /* 4% larger */
      }
    }
  }
}

@media screen and (max-width: 20em) {
    .cards {
      grid-template-columns: 1fr;
    }
}

/* ----------------------------- Cards Buttons ----------------------------- */

.card-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  button {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color-2);
    color: var(--accent-color-2);
    background-image: linear-gradient(var(--secondary-color-1), transparent, transparent, var(--secondary-color-1));
    cursor: pointer;
    border: 0;
  }
}

/* ----------------------------- Alert Message Prompt ----------------------------- */

.center-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  z-index: 9999;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.center-alert.visible {
  opacity: 1;
}
